body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: rgb(104, 15, 44);
}
.banner-column{
    background-color: rgb(250, 117, 161);
    border-radius: 15px;
}
.navbar-container{
    top: 0;
    background-color: rgb(167, 156, 223);
    position: sticky;
}
.about-container{
    background-color: rgb(6, 78, 54);
}
.education-container{
    background-color: rgb(6, 78, 54);
}
.red-type{
    background-color: rgb(224, 81, 81);
}
.red-type-color{
    color: rgb(224, 81, 81);
}
.cirle{
    background-color: rgb(224, 81, 81);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: rgb(6, 78, 54);
}
.project-color{
    color: rgb(224, 81, 81);
}
.portfolio-container{
    background-color: rgb(6, 78, 54);
}
.gallery-container{
    background-color: rgb(6, 78, 54);
}
.contact-container{
    background-color: rgb(6, 78, 54);
}